@model List<BLL.WorkoutVM>

@{
    ViewBag.Title = "Planner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model[0].PlanDate.ToString("D")</h2>

@if (Model == null || Model[0].Exercise == null)
{
    <p>You currently do not have any workouts scheduled for @Model[0].PlanDate.ToString("D")</p>
}
else
{
    using (Html.BeginForm("MarkComplete", "WorkoutPlanner", FormMethod.Post))
    {
        for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(m => m[i].ID)
            <p>@Html.CheckBoxFor(m => m[i].Complete) @Model[i].Exercise.ExerciseName, @Model[i].NumberSets sets of @Model[i].Amount @Html.ActionLink("X", "DeleteWorkout", @Model[i], new { @class = "red", @onclick="return confirm('Are you sure you want to delete this exercise from your workout?')"})</p>
        }
        <input type="submit" value="Mark Completed Exercises" />
    }
}
<div>
    @Html.ActionLink("Add Workout", "AddWorkout", Model[0].PlanDate)
</div>
<div>
    @Html.ActionLink("Back to Month", "ChangeMonth", Model[0].PlanDate)
</div>