@model List<List<BLL.WorkoutVM>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th colspan="7">
                Workout Planner
            </th>
        </tr>
        <tr>
            <th>
                @Html.ActionLink("<--", "ChangeMonth", @Model[8][0].PlanDate.AddMonths(-1))
            </th>
            <th colspan="5">
                @Model[8][0].PlanDate.ToString("y")
            </th>
            <th>
                @Html.ActionLink("-->", "ChangeMonth", @Model[8][0].PlanDate.AddMonths(1))
            </th>
        </tr>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                @for (int j = 0; j < 7; j++)
                {
                    <td style="overflow: hidden;">
                        <p>@Html.ActionLink(Model[i * 7 + j][0].PlanDate.Day.ToString(), "DayPlanner", Model[i * 7 + j][0].PlanDate)</p>
                        @if (Model[i * 7 + j][0].Exercise != null)
                        {
                            for (int k = 0; k < 5 && k < Model[i * 7 + j].Count; k++)
                            {
                                if (Model[i * 7 + j][k].Exercise != null)
                                {
                                    <p>@Model[i * 7 + j][k].Exercise.ExerciseName @Model[i * 7 + j][k].NumberSets sets of @Model[i * 7 + j][k].Amount</p>
                                }
                            }
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>