@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

<p>Welcome to your Fitness Tracker.</p>
<div class="homePageLinks">
    <a href=@Url.Action("Index", "WorkoutPlanner", new { })>
        <img src='~/Images/FitnessIcon.png' style="height:100px;" />
    </a><br />
    @Html.ActionLink("Workout Planner", "Index", "WorkoutPlanner")
</div>
<div class="homePageLinks">
    <a href=@Url.Action("Index", "Stats", new { })>
        <img src='~/Images/StatIcon.png' style="height:100px;" />
    </a><br />
    @Html.ActionLink("Stats", "Index", "Stats")
</div>
<div class="homePageLinks">
    <a href=@Url.Action("Index", "CheckList", new { })>
        <img src='~/Images/CheckListIcon.png' style="height:100px;" />
    </a><br />
    @Html.ActionLink("Checklist", "Index", "CheckList")
</div>
<div class="homePageLinks">
    <a href=@Url.Action("Index", "Goals", new { })>
        <img src='~/Images/GoalIcon.png' style="height:100px;" />
    </a><br />
    @Html.ActionLink("Goals", "Index", "Goals")
</div>
<div class="homePageLinks">
    <a href=@Url.Action("UpdateUserInfo", "Account", new { })>
        <img src='~/Images/SettingIcon.png' style="height:100px;" />
    </a><br />
    @Html.ActionLink("Update Your", "UpdateUserInfo", "Account")<br />
    @Html.ActionLink("Information/Password", "UpdateUserInfo", "Account")
</div>


@*Add links to pages.*@